{% load static %}
{# Logo da INFORLINK na aba do navegador. O miolo do círculo é branco de propósito: na aba escura, a logo preta sobre fundo transparente sumiria. #}
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'inventario/img/icone-32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'inventario/img/icone-16.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'inventario/img/icone-192.png' %}">
<link rel="apple-touch-icon" href="{% static 'inventario/img/icone-180.png' %}">
